<hr />
  <div>
    <form name="newPost" action="#" ng-controller="PostCtrl" ng-submit="submitPost()">
      <table class="newpost center-div">
        <tr>
          <th>{{'newpost.name' | translate}}</th>
          <td><input type="text" name="name" ng-model="form.name" /> <input type="button" ng-click="submitPost()" value="{{'newpost.submit' | translate}}" /></td>
        </tr>
        <tr>
          <th>{{'newpost.subject' | translate}}</th>
          <td><input type="text" name="subject" ng-model="form.subject" />
        </tr>
        <tr>
          <th>{{'newpost.mail' | translate}}</th>
          <td><input type="text" name="mail" ng-model="form.mail" /></td>
        </tr>
        <tr>
          <th>{{'newpost.comment' | translate}}</th>
          <td><textarea name="comment" rows="6" cols="48" ng-model="form.comment" /></td>
        </tr>
        <tr>
          <th>{{'newpost.file' | translate}}</th>
          <td>
            <input class="hidden" id="newpost-file-upload" type="file"
                   ng-file-select ng-model="file" ng-file-change="fileSelected($files, $event)" />
            <div onclick="jQuery('#newpost-file-upload').click();" class="fileupload"
                 ng-file-drop ng-model="file" ng-multiple="true" accept=".jpg,.png,.gif"
                 ng-file-change="filesDropped($files, $event, $rejectedFiles)">{{'newpost.fileupload' | translate}}</div>
            <div class="thumb" ng-repeat="item in files">
              <div class="thumb" ng-thumb="{ file: item, height: 100 }"></div><br />
              <div class="thumb" ng-bind="item.name"></div>
            </div>
          </td>
        </tr>
        <tr>
          <th>{{'newpost.password' | translate}}</th>
          <td><input type="password" name="subject" ng-model="form.password" /></td>
        </tr>
      </table>
      </form>
  </div>
<hr />
